set(autostart false)
set (preconditions Platform)
set (callsign "GPlaybin")

kv(clientidentifier wst-GPlaybin)

if(PLUGIN_GPLAYBIN_STARTUPORDER)
set (startuporder ${PLUGIN_GPLAYBIN_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_GPLAYBIN_MODE})
    end()
end()
ans(configuration)


